:root[theme='base'] {
  --header-bg-color: #F6F9FF;
  --header-text-color: #6E6E6E;
  --bg-color: #fff;
  --text-color: #111;
  --input-bg-color: #F3F3F3;
  --border-color: #C3C3C3;
  --main-color: #3F6DE6;
  --active-color: yellow;
}

:root[theme='dark'] {
  --header-bg-color: #666;
  --header-text-color: #d7e1e2;
  --bg-color: #111;
  --text-color: #fff;
  --input-bg-color: #fff8eb;
  --border-color: #C3C3C3;
  --main-color: #327ab9;
  --active-color: yellow;
}

:root[theme='sweet'] {
  --header-bg-color: #84172c;
  --header-text-color: #fff;
  --bg-color: #faeae2;
  --text-color: #84172c;
  --input-bg-color: #fff8eb;
  --border-color: #C3C3C3;
  --main-color: #327ab9;
  --active-color: yellow;
}
